NAME=UnnamedBot
AVATAR=https://cdn.discordapp.com/attachments/1267967668137361440/1268608765620523128/Black_And_White_Aesthetic_Minimalist_Modern_Simple_Typography_Coconut_Cosmetics_Logo.png?ex=66ad0b7b&is=66abb9fb&hm=36a23c5ffffdb7403c515b3959ca267f5ae3573568de80436b1bf5a1cb7b9ad4&
TYPE=bot
MAIN=main.py
RAM=100
AUTORESTART=true
VERSION=latest
APT=tools
